<% include ../partials/header.ejs %>

<h1>Edit comment</h1>
<form action='/campgrounds/<%= camp_id %>/comments/<%= comment.id %>?_method=PUT' method='POST'>
  <input type='text' placeholder="text" name='comment[text]' value="<%= comment.text %>">
  <input type="submit">
</form>

<% include ../partials/footer.ejs %>